<!DOCTYPE html>
<html>
<head>
    <title>Greška</title>
</head>
<body>
    <h1>Greška</h1>
    <p th:text="${errorMessage}"></p>
	<p><a href="/">Povratak na pocetnu</a></p>
</body>
</html>
U ovim primjerima koristim Thymeleaf template engine za dinamičko prikazivanje podataka. Primijetite korištenje th:* atributa za prikazivanje dinamičkih podataka i poruka.

Nakon što kreirate ove HTML stranice i postavite ih u direktorijum resources/templates, možete koristiti AutorController da renderirate odgovarajuće stranice.






