<!DOCTYPE HTML>
<html>
<head>
  <title>Home Page</title>
  <meta charset="utf-8"/>
</head>
<body>
<h1>Welcome</h1>
<h2>This is home page</h2>
<a th:href="${'/korisnici'}">Pogledaj sve korisnike</a>
<br><br>
<a th:href="${'/knjige'}">Pogledaj sve knjige</a>
<br><br>
<a th:href="${'/pretraga-knjige'}">Pretrazi knjigu po naslovu</a>
<br><br><br><br>
<a th:href="${'/zanrovi'}">Pogledaj sve zanrove</a>
<br><br>
<a th:href="${'/recenzije'}">Pogledaj sve recenzije</a>
<br><br>


<button onclick="location.href = '/registracija'">Registruj se</button>
<button onclick="location.href = '/login'">Prijavi se</button>

</body>
</html>