<!DOCTYPE html>
<html>
<head>
    <title>Profil korisnika</title>
</head>
<body>
    <h1>Profil korisnika</h1>
    
    <h2>Informacije o korisniku</h2>
    <p>Ime: {{korisnik.ime}}</p>
    <p>Prezime: {{korisnik.prezime}}</p>
    <p>Email: {{korisnik.email}}</p>
    <!-- Dodajte ostale informacije koje želite prikazati -->
    
    <h2>Slika profila</h2>
    <img src="{{korisnik.slika}}" alt="Slika profila">
    
    <!-- Dodajte druge elemente stranice koje želite prikazati -->
</body>
</html>