<!DOCTYPE html>
<html>
<head>
    <title>Prijava</title>
</head>
<body>
    <h1>Prijava</h1>
    <form action="/login" method="POST">
        <label>Korisnicko ime:</label>
        <input type="text" name="username" required>
        <br><br>
        <label>Lozinka:</label>
        <input type="password" name="password" required>
        <br><br>
        <input type="submit" value="Prijavi se">
		<br><br>
    </form>
	<a href="/registracija">Registrujte se ukoliko nemate nalog</a>
</body>
</html>